<mat-card>
    <mat-card-header>
        <mat-card-title>Detalle del Apartado</mat-card-title>
        <mat-card-subtitle>{{subtitulo}}</mat-card-subtitle>
    </mat-card-header>
    <form [formGroup]="formGroup" (ngSubmit)="guardar()">
        <mat-dialog-content>
            <mat-form-field>
                <mat-label>Cantidad</mat-label>
                <input matInput type="number" formControlName="cantidad" placeholder="$">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Nota</mat-label>
                <input matInput type="text" formControlName="nota" maxlength="150">
            </mat-form-field>
        </mat-dialog-content>
        <mat-card-actions>
            <button mat-raised-button mat-dialog-close color="warn">Cancelar</button>
            <button mat-raised-button color="primary">Guardar</button>
        </mat-card-actions>
    </form>
</mat-card>