<h1 style="text-align: center;">Subcategorias</h1>

<mat-card>
  <mat-card-header>
    <mat-card-title>Entradas</mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <!-- nombre Column -->
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
      </ng-container>

      <!-- Cantidad Column -->
      <ng-container matColumnDef="cantidad">
        <th mat-header-cell *matHeaderCellDef> Cantidad </th>
        <td mat-cell *matCellDef="let element"> {{element.cantidad | currency}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef> 
          <button mat-mini-fab color="primary" (click)="agregarSubcategoria()">
            <mat-icon>plus_one</mat-icon>
          </button>
        </th>
        <td mat-cell *matCellDef="let element">
          <button mat-mini-fab color="accent" style="color: white;" (click)="editarSubcategoria(element)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-mini-fab color="warn" (click)="borrarSubcategoria(element)" style="margin-left: 10px;">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-card-content>

</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title>Apartados</mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <table mat-table [dataSource]="apartados" class="mat-elevation-z8">

      <!-- nombre Column -->
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
      </ng-container>

      <!-- Cantidad Column -->
      <ng-container matColumnDef="cantidad">
        <th mat-header-cell *matHeaderCellDef> Cantidad </th>
        <td mat-cell *matCellDef="let element"> {{element.cantidad | currency}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef> 
          <button mat-mini-fab color="primary" (click)="agregarSubcategoria()">
            <mat-icon>plus_one</mat-icon>
          </button>
        </th>
        <td mat-cell *matCellDef="let element">
          <button mat-mini-fab color="accent" style="color: white;" (click)="editarSubcategoria(element)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-mini-fab color="warn" (click)="borrarSubcategoria(element)" style="margin-left: 10px;">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-card-content>

</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title>Gastos</mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <table mat-table [dataSource]="gastos" class="mat-elevation-z8">
      <!-- nombre Column -->
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef> Cantidad </th>
        <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
      </ng-container>

      <!-- Cantidad Column -->
      <ng-container matColumnDef="cantidad">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let element"> {{element.cantidad | currency}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef> 
          <button mat-mini-fab color="primary" (click)="agregarSubcategoria()">
            <mat-icon>plus_one</mat-icon>
          </button>
        </th>
        <td mat-cell *matCellDef="let element">
          <button mat-mini-fab color="accent" style="color: white;" (click)="editarSubcategoria(element)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-mini-fab color="warn" (click)="editarSubcategoria(element)" style="margin-left: 10px;">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-card-content>
</mat-card>