<div class="container">

  <h1 style="text-align: center;">Subcategorias</h1>
  <mat-tab-group>

    <mat-tab label="Entradas">
      <mat-card>
        <mat-progress-bar mode="indeterminate" *ngIf="estaCargando"></mat-progress-bar>
        <mat-card-header>          
          <mat-card-subtitle>
            <span *ngIf="estaCargando">Cargando ...</span>
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <app-tabla-de-subcategorias [subcategoriasInput]="entradas" />
        </mat-card-content>
      </mat-card>
    </mat-tab>

    <mat-tab label="Apartados">
      <mat-card>
        <mat-progress-bar mode="indeterminate" *ngIf="estaCargando"></mat-progress-bar>
        <mat-card-header>          
          <mat-card-subtitle>
            <span *ngIf="estaCargando">Cargando ...</span>
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <app-tabla-de-subcategorias [subcategoriasInput]="apartados" />
        </mat-card-content>
      </mat-card>
    </mat-tab>

    <mat-tab label="Gastos">
      <mat-card>
        <mat-progress-bar mode="indeterminate" *ngIf="estaCargando"></mat-progress-bar>
        <mat-card-header>          
          <mat-card-subtitle>
            <span *ngIf="estaCargando">Cargando ...</span>
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <app-tabla-de-subcategorias [subcategoriasInput]="gastos" />
        </mat-card-content>
      </mat-card>
    </mat-tab>
  </mat-tab-group>

</div>