<div class="container">
  <mat-card>
    <mat-progress-bar mode="indeterminate" *ngIf="estaCargando"></mat-progress-bar>
    <mat-card-header>
      <mat-card-title>
        Apartados
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field>
        <mat-label>Filtro</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ej. Camineta" #input>
      </mat-form-field>

      <div class="row">
        <div class="col-md-4 mt-1 mb-1" *ngFor="let apartado of apartados">
          <div class="card">
            <div class="card-header">
              {{apartado.nombre}}
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-6 text-primary">Fecha inicial</div>
                <div class="col-md-6">{{apartado.fechaInicial | date}}</div>

                <div class="col-md-6 text-primary">Cantidad inicial</div>
                <div class="col-md-6">{{apartado.cantidadInicial | currency}}</div>

                <div class="col-md-6 text-primary">Fecha final</div>
                <div class="col-md-6">{{apartado.fechaFinal | date}}</div>

                <div class="col-md-6 text-primary">Cantidad final</div>
                <div class="col-md-6">{{apartado.cantidadFinal | currency}}</div>


                <div class="col-md-6 text-primary">Dias restantes</div>
                <div class="col-md-6">{{apartado.diasRestantes}}</div>

                <div class="col-md-6 text-primary">Cantidad Meta</div>
                <div class="col-md-6">{{apartado.cantidadMeta | currency}}</div>

                <div class="col-md-6 text-primary">Tipo de apartado</div>
                <div class="col-md-6">{{apartado.tipoDeApartadoNombre}}</div>

                <div class="col-md-6 text-primary">Tipo de apartado</div>
                <div class="col-md-6">{{obtenerTotal(apartado) | currency}}</div>

                <div class="col-md-6 text-primary">Cantidad</div>
                <div class="col-md-6">{{apartado.subcategoria.cantidad | currency}}</div>
              </div>
            </div>
            <div class="card-footer">
              <button class="btn btn-warning btn-small text-white">
                Editar
              </button>
            </div>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>