<div class="container">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                Periodo
            </mat-card-title>
        </mat-card-header>
        <mat-progress-bar mode="indeterminate" *ngIf="estaCargando"></mat-progress-bar>
        <mat-card-content>
            <mat-tab-group>
                <mat-tab label="Gastos">
                    <app-tabla-de-periodo [gastosInput]="gastos" />
                </mat-tab>
                <mat-tab label="Apartado"> 
                    <app-tabla-de-periodo [gastosInput]="gastosApartado" />
                </mat-tab>
                <mat-tab label="Entrada">
                    <app-tabla-de-periodo [gastosInput]="gastosEntrada" />
                </mat-tab>
                <mat-tab label="No pagados">
                    <app-tabla-de-periodo [gastosInput]="gastosNoPagados" />
                </mat-tab>
                <mat-tab label="Todos">
                    <app-tabla-de-periodo [gastosInput]="gastosTodos" />
                </mat-tab>
            </mat-tab-group>
        </mat-card-content>
    </mat-card>
</div>